Repository twitter-dart/twitter-api-v2, pull requests merged in 2022-05, with the labels that each got.

#40 feat: Add Tweets:Quote Tweets endpoint (#8)
  CHANGELOG.md
  README.md
  lib/src/service/tweets/tweet_meta.dart
  lib/src/service/tweets/tweet_meta.freezed.dart
  lib/src/service/tweets/tweet_meta.g.dart
  lib/src/service/tweets/tweets_service.dart
  pubspec.yaml
Labels: service/Tweets

#43 feat: Added Search Tweets endpoints (#10)
  CHANGELOG.md
  README.md
  lib/src/service/tweets/tweets_service.dart
Labels: service/Tweets

#45 feat: Added Tweets Lookup endpoints (#13)
  CHANGELOG.md
  README.md
  lib/src/service/tweets/tweets_service.dart
Labels: service/Tweets

#51 feat: Added Tweet Counts endpoints (#12)
  CHANGELOG.md
  README.md
  lib/src/service/tweets/tweet_count_data.dart
  lib/src/service/tweets/tweet_count_data.freezed.dart
  lib/src/service/tweets/tweet_count_data.g.dart
  lib/src/service/tweets/tweet_count_meta.dart
  lib/src/service/tweets/tweet_count_meta.freezed.dart
  lib/src/service/tweets/tweet_count_meta.g.dart
  lib/src/service/tweets/tweets_service.dart
  pubspec.yaml
Labels: service/Tweets

#52 feat: Added Tweets Bookmarks endpoints (#2)
  CHANGELOG.md
  README.md
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
Labels: service/Tweets

#53 feat: Added Users Lookup endpoints (#23)
  CHANGELOG.md
  README.md
  lib/src/service/users/users_service.dart
Labels: service/Users

#54 feat: Added Spaces Search endpoint (#23)
  CHANGELOG.md
  README.md
  lib/src/service/spaces/space_data.dart
  lib/src/service/spaces/space_data.freezed.dart
  lib/src/service/spaces/space_data.g.dart
  lib/src/service/spaces/space_meta.dart
  lib/src/service/spaces/space_meta.freezed.dart
  lib/src/service/spaces/space_meta.g.dart
  lib/src/service/spaces/space_state.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/twitter_service.dart
  lib/src/twitter_api.dart
  lib/twitter_api_v2.dart
Labels: service/Tweets, service/Spaces

#61 fix: fixed for the issue (#60)
  CHANGELOG.md
  lib/src/service/base_service.dart
  lib/src/service/tweets/tweet_count_meta.dart
  lib/src/service/tweets/tweet_count_meta.freezed.dart
  lib/src/service/tweets/tweet_count_meta.g.dart
  lib/src/service/tweets/tweet_meta.dart
  lib/src/service/tweets/tweet_meta.freezed.dart
  lib/src/service/tweets/tweet_meta.g.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/user_meta.dart
  lib/src/service/users/user_meta.freezed.dart
  lib/src/service/users/user_meta.g.dart
  lib/src/service/users/users_service.dart
  pubspec.yaml
Labels: service/Tweets, service/Users

#62 fix: fixed for the issue (#60)
  lib/src/service/users/user_meta.dart
  lib/src/service/users/user_meta.freezed.dart
  lib/src/service/users/user_meta.g.dart
Labels: service/Users

#67 fix: fixed for the issue (#66)
  .vscode/settings.json
  CHANGELOG.md
  lib/src/client/client.dart
  lib/src/client/oauth1_client.dart
  lib/src/client/oauth2_client.dart
  lib/src/service/base_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/users_service.dart
  pubspec.yaml
Labels: service/Tweets, service/Users, client

#70 test: Renamed and added unit tests
  test/mocks/client_context_stubs.dart
  test/mocks/mock.dart
  test/mocks/mock.mocks.dart
  test/src/service/tweets/data/bookmarks.json
  test/src/service/tweets/data/counts_all.json
  test/src/service/tweets/data/counts_recent.json
  test/src/service/tweets/data/create_bookmark.json
  test/src/service/tweets/data/create_like.json
  test/src/service/tweets/data/create_retweet.json
  test/src/service/tweets/data/create_tweet.json
  test/src/service/tweets/data/destroy_bookmark.json
  test/src/service/tweets/data/destroy_like.json
  test/src/service/tweets/data/destroy_retweet.json
  test/src/service/tweets/data/destroy_tweet.json
  test/src/service/tweets/data/liked_tweets.json
  test/src/service/tweets/data/liking_users.json
  test/src/service/tweets/data/lookup_tweet.json
  test/src/service/tweets/data/lookup_tweets.json
  test/src/service/tweets/data/quote_tweets.json
  test/src/service/tweets/data/retweeted_by.json
  test/src/service/tweets/data/search_all.json
  test/src/service/tweets/data/search_recent.json
  test/src/service/tweets/tweets_service_test.dart
  test/src/service/users/data/create_follow.json
  test/src/service/users/data/destroy_follow.json
  test/src/service/users/data/followers.json
  test/src/service/users/data/followings.json
  test/src/service/users/data/lookup_by_id.json
  test/src/service/users/data/lookup_by_ids.json
  test/src/service/users/data/lookup_by_name.json
  test/src/service/users/data/lookup_by_names.json
  test/src/service/users/data/lookup_me.json
  test/src/service/users/users_service_test.dart
  test/src/twitter_api_test.dart
Labels: test

#71 test: Added unit tests
  test/mocks/client_context_stubs.dart
  test/mocks/mock.dart
  test/mocks/mock.mocks.dart
  test/src/service/tweets/tweets_service_test.dart
  test/src/service/users/users_service_test.dart
  test/src/twitter_api_test.dart
Labels: test

#72 test: Added unit tests
  lib/src/service/twitter_response.dart
  test/src/service/tweets/data/no_data.json
  test/src/service/tweets/tweets_service_test.dart
  test/src/service/twitter_response_test.dart
  test/src/service/users/data/no_data.json
  test/src/service/users/users_service_test.dart
Labels: test

#75 test: Added unit tests
  test/src/service/spaces/data/no_data.json
  test/src/service/spaces/data/search.json
  test/src/service/spaces/spaces_service_test.dart
Labels: test

#76 test: Added unit tests
  lib/src/client/client_context.dart
  test/mocks/client_context_stubs.dart
  test/mocks/mock.mocks.dart
  test/src/client/oauth_tokens_test.dart
  test/src/service/spaces/space_state_test.dart
  test/src/service/spaces/spaces_service_test.dart
  test/src/service/tweets/tweets_service_test.dart
Labels: test, client

#80 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions

#81 feat: Added `Spaces Lookup` endpoints (#25)
  CHANGELOG.md
  README.md
  lib/src/service/spaces/spaces_service.dart
  pubspec.yaml
  test/src/service/spaces/data/lookup_buyers.json
  test/src/service/spaces/data/lookup_by_creator_ids.json
  test/src/service/spaces/data/lookup_by_id.json
  test/src/service/spaces/data/lookup_by_ids.json
  test/src/service/spaces/data/lookup_tweets.json
  test/src/service/spaces/spaces_service_test.dart
Labels: service/Spaces, test

#83 refactor: fixed for the issue (#79)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
  test/src/service/tweets/data/lookup_by_id.json
  test/src/service/tweets/data/lookup_by_ids.json
  test/src/service/tweets/tweets_service_test.dart
Labels: service/Tweets, test

#84 fix: fixed for the issue (#82)
  lib/src/client/client_context.dart
  lib/src/client/user_context.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/users_service.dart
  test/mocks/client_context_stubs.dart
  test/src/service/spaces/spaces_service_test.dart
  test/src/service/tweets/tweets_service_test.dart
  test/src/service/users/users_service_test.dart
Labels: service/Tweets, service/Users, service/Spaces, test, client

#87 feat: Added `Batch Compliance` endpoints (#32)
  CHANGELOG.md
  README.md
  lib/src/service/compliance/compliance_data.dart
  lib/src/service/compliance/compliance_data.freezed.dart
  lib/src/service/compliance/compliance_data.g.dart
  lib/src/service/compliance/compliance_service.dart
  lib/src/service/compliance/job_status.dart
  lib/src/service/compliance/job_type.dart
  lib/src/service/twitter_service.dart
  lib/src/twitter_api.dart
  lib/twitter_api_v2.dart
  pubspec.yaml
  test/mocks/client_context_stubs.dart
  test/src/service/compliance/compliance_service_test.dart
  test/src/service/compliance/data/create_job.json
  test/src/service/compliance/data/lookup_job.json
  test/src/service/compliance/data/lookup_jobs.json
  test/src/service/compliance/data/no_data.json
  test/src/service/tweets/tweets_service_test.dart
  test/src/service/users/users_service_test.dart
Labels: service/Compliance, test

#89 refactor: Added linter rules
  analysis_options.yaml
  lib/src/client/client.dart
  lib/src/client/client_context.dart
  lib/src/client/oauth1_client.dart
  lib/src/client/oauth2_client.dart
  lib/src/service/base_service.dart
  lib/src/service/compliance/compliance_data.dart
  lib/src/service/compliance/compliance_service.dart
  lib/src/service/lists/lists_service.dart
  lib/src/service/spaces/space_data.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/twitter_service.dart
  lib/src/service/users/users_service.dart
  lib/src/twitter_api.dart
  lib/twitter_api_v2.dart
Labels: service/Tweets, service/Users, service/Spaces, service/Lists, service/Compliance, client

#91 feat: Added `Users Mutes` endpoints (#22)
  .vscode/settings.json
  CHANGELOG.md
  README.md
  lib/src/client/client_context.dart
  lib/src/service/users/users_service.dart
  test/src/service/users/data/create_mute.json
  test/src/service/users/data/destroy_mute.json
  test/src/service/users/data/muting_users.json
  test/src/service/users/users_service_test.dart
Labels: service/Users, do not merge yet, test, client

#92 feat: Added `Tweets Hide Replies` endpoints (#5)
  .vscode/settings.json
  CHANGELOG.md
  README.md
  lib/src/client/client.dart
  lib/src/client/client_context.dart
  lib/src/client/oauth1_client.dart
  lib/src/client/oauth2_client.dart
  lib/src/service/base_service.dart
  lib/src/service/tweets/tweets_service.dart
  test/mocks/client_context_stubs.dart
  test/mocks/mock.mocks.dart
  test/src/service/tweets/data/create_hidden_reply.json
  test/src/service/tweets/data/destroy_hidden_reply.json
  test/src/service/tweets/tweets_service_test.dart
Labels: service/Tweets, test, client

#94 fixed: fixed for the issue (#93)
  CHANGELOG.md
  lib/src/client/client.dart
  lib/src/service/base_service.dart
  lib/src/twitter_exception.dart
Labels: client

#95 feat: Added `Tweets Timelines` endpoints (#11)
  CHANGELOG.md
  README.md
  lib/src/service/tweets/tweets_service.dart
  pubspec.yaml
  test/src/service/tweets/data/mentions_of.json
  test/src/service/tweets/data/tweets_of.json
  test/src/service/tweets/tweets_service_test.dart
Labels: service/Tweets, test

#96 feat: Added `Users Blocks` endpoints (#20)
  CHANGELOG.md
  README.md
  lib/src/service/users/users_service.dart
  test/src/service/users/data/blocking_users.json
  test/src/service/users/data/create_block.json
  test/src/service/users/data/destroy_block.json
  test/src/service/users/users_service_test.dart
Labels: service/Users, test

#97 feat: Added `Lists Pinnings` endpoints (#31)
  CHANGELOG.md
  README.md
  lib/src/service/lists/lists_service.dart
  test/src/service/lists/data/create_pinned_list.json
  test/src/service/lists/data/destroy_pinned_list.json
  test/src/service/lists/data/pinned_lists.json
  test/src/service/lists/lists_service_test.dart
Labels: service/Lists, test

#99 feat: Added `Lists Tweet Lookup` endpoint (#26)
  CHANGELOG.md
  README.md
  lib/src/service/lists/lists_service.dart
  test/src/service/lists/data/lookup_tweets.json
  test/src/service/lists/lists_service_test.dart
Labels: service/Lists, test

#100 refactor: fixed for the issue (#98)
  CHANGELOG.md
  lib/src/service/lists/lists_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/users_service.dart
  test/mocks/mock.mocks.dart
  test/src/service/lists/data/lookup_pinned_lists.json
  test/src/service/lists/lists_service_test.dart
  test/src/service/tweets/data/lookup_bookmarks.json
  test/src/service/tweets/data/lookup_liked_tweets.json
  test/src/service/tweets/data/lookup_liking_users.json
  test/src/service/tweets/data/lookup_mentions.json
  test/src/service/tweets/data/lookup_quote_tweets.json
  test/src/service/tweets/data/lookup_retweeted_users.json
  test/src/service/tweets/data/lookup_tweets.json
  test/src/service/tweets/tweets_service_test.dart
  test/src/service/users/data/lookup_blocking_users.json
  test/src/service/users/data/lookup_followers.json
  test/src/service/users/data/lookup_followings.json
  test/src/service/users/data/lookup_muting_users.json
  test/src/service/users/users_service_test.dart
Labels: service/Tweets, service/Users, service/Lists, test

#110 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions

#115 feat: Added `Lists Follows` endpoints (#27)
  .vscode/settings.json
  CHANGELOG.md
  README.md
  lib/src/service/lists/lists_service.dart
  pubspec.yaml
  test/src/service/lists/data/create_follow.json
  test/src/service/lists/data/destroy_follow.json
  test/src/service/lists/data/lookup_followed_lists.json
  test/src/service/lists/data/lookup_followers.json
  test/src/service/lists/lists_service_test.dart
  test/src/twitter_api_test.dart
Labels: service/Lists, test

#116 feat: Added `Lists Members` endpoints (#29)
  CHANGELOG.md
  README.md
  lib/src/service/lists/lists_service.dart
  test/src/service/lists/data/create_member.json
  test/src/service/lists/data/destroy_member.json
  test/src/service/lists/data/lookup_members.json
  test/src/service/lists/data/lookup_memberships.json
  test/src/service/lists/lists_service_test.dart
Labels: service/Lists, test

#125 fix: fixed for the issue (#122)
  CHANGELOG.md
  lib/twitter_api_v2.dart
  pubspec.yaml
  test/src/service/spaces/spaces_service_test.dart
  test/src/service/tweets/tweets_service_test.dart
  test/src/service/users/users_service_test.dart
  test/src/twitter_api_test.dart
Labels: test

#118 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions

#126 refactor: Applied specifications of `SDK 2.17`
  lib/src/service/compliance/compliance_service.dart
  lib/src/service/lists/lists_service.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/users_service.dart
Labels: service/Tweets, service/Users, service/Spaces, service/Lists, service/Compliance

#130 feat: Extending create tweet functionality
  lib/src/service/tweets/reply_setting.dart
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
  test/src/service/tweets/tweets_reply_settings_test.dart
Labels: service/Tweets

#132 fix: Fixing API use for reply_settings and reply
  lib/src/service/tweets/tweets_service.dart
Labels: enhancement

#133 fix: fixed for the issue (#131)
  CHANGELOG.md
  lib/src/service/base_service.dart
  lib/src/service/tweets/tweets_service.dart
Labels: service/Tweets

#128 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions

#135 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions

#136 fix: fixed for the issue (#124)
  CHANGELOG.md
  lib/src/service/base_service.dart
  lib/src/service/compliance/compliance_service.dart
  lib/src/service/lists/lists_service.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/users_service.dart
  test/src/service/users/users_service_test.dart
Labels: service/Tweets, service/Users, service/Spaces, service/Lists, service/Compliance, test

#137 feat: Added arguments
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
Labels: service/Tweets

#143 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions

#146 refactor: refactored #141
  lib/src/service/base_service.dart
  lib/src/service/tweets/tweets_service.dart
Labels: service/Tweets

#147 feat: added `includes` field (#144)
  CHANGELOG.md
  README.md
  lib/src/service/base_service.dart
  lib/src/service/includes.dart
  lib/src/service/includes.freezed.dart
  lib/src/service/includes.g.dart
  lib/src/service/media.dart
  lib/src/service/media.freezed.dart
  lib/src/service/media.g.dart
  lib/src/service/poll.dart
  lib/src/service/poll.freezed.dart
  lib/src/service/poll.g.dart
  lib/src/service/poll_option.dart
  lib/src/service/poll_option.freezed.dart
  lib/src/service/poll_option.g.dart
  lib/src/service/tweets/tweet_geo.dart
  lib/src/service/tweets/tweet_geo.freezed.dart
  lib/src/service/tweets/tweet_geo.g.dart
  lib/src/service/twitter_response.dart
  lib/twitter_api_v2.dart
  test/src/service/twitter_response_test.dart
Labels: service/Tweets, test

#148 feat: Implement Tweets:Volume streams endpoint
  CHANGELOG.md
  example/example.dart
  lib/src/client/client.dart
  lib/src/client/client_context.dart
  lib/src/client/oauth1_client.dart
  lib/src/client/oauth2_client.dart
  lib/src/service/base_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/twitter_exception.dart
  test/mocks/client_context_stubs.dart
  test/mocks/mock.mocks.dart
  test/src/service/tweets/data/volume_streams.json
  test/src/service/tweets/data/volume_streams_with_error.json
  test/src/service/tweets/tweets_service_test.dart
Labels: enhancement, service/Tweets

#150 fix: ignore `invalid_annotation_target` (#42)
  lib/src/service/compliance/compliance_data.dart
  lib/src/service/lists/list_meta.dart
  lib/src/service/media.dart
  lib/src/service/spaces/space_meta.dart
  lib/src/service/tweets/tweet_attachments.dart
  lib/src/service/tweets/tweet_count_data.dart
  lib/src/service/tweets/tweet_count_meta.dart
  lib/src/service/tweets/tweet_data.dart
  lib/src/service/tweets/tweet_geo.dart
  lib/src/service/tweets/tweet_meta.dart
  lib/src/service/users/user_data.dart
  lib/src/service/users/user_meta.dart
  test/mocks/mock.mocks.dart
Labels: service/Tweets, service/Users, service/Spaces, service/Lists, service/Compliance, test

#153 refactor: fixed for the issue (#151)
  CHANGELOG.md
  lib/src/service/includes.dart
  lib/src/service/includes.freezed.dart
  lib/src/service/includes.g.dart
  lib/src/service/media/media_data.dart
  lib/src/service/media/media_data.freezed.dart
  lib/src/service/media/media_data.g.dart
  lib/src/service/places/place_coordinates.dart
  lib/src/service/places/place_coordinates.freezed.dart
  lib/src/service/places/place_coordinates.g.dart
  lib/src/service/places/place_data.dart
  lib/src/service/places/place_data.freezed.dart
  lib/src/service/places/place_data.g.dart
  lib/src/service/polls/poll_data.dart
  lib/src/service/polls/poll_data.freezed.dart
  lib/src/service/polls/poll_data.g.dart
  lib/src/service/polls/poll_option.dart
  lib/src/service/polls/poll_option.freezed.dart
  lib/src/service/polls/poll_option.g.dart
  lib/src/service/tweets/tweet_data.dart
  lib/src/service/tweets/tweet_data.freezed.dart
  lib/src/service/tweets/tweet_data.g.dart
  lib/twitter_api_v2.dart
Labels: service/Tweets

#163 test: added unit tests
  test/src/service/tweets/tweet_expansion_test.dart
  test/src/service/users/user_expansion_test.dart
Labels: test

#165 feat: Added `Home Timeline` endpoint (#164)
  CHANGELOG.md
  README.md
  lib/src/service/tweets/tweets_service.dart
  pubspec.yaml
  test/src/service/tweets/data/lookup_home_timeline.json
  test/src/service/tweets/tweets_reply_setting_test.dart
  test/src/service/tweets/tweets_service_test.dart
Labels: service/Tweets, test

#166 feat: Added `expansions` argument (#142)
  CHANGELOG.md
  lib/src/service/base_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/users_service.dart
  test/src/service/tweets/tweet_expansion_test.dart
  test/src/service/users/user_expansion_test.dart
Labels: service/Tweets, service/Users, test

#170 refactor: fixed for the issue (#167)
  lib/src/service/base_service.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/users_service.dart
  pubspec.yaml
Labels: service/Tweets, service/Users, service/Spaces

#173 feat: added `expansions` argument
  CHANGELOG.md
  lib/src/service/spaces/space_data.dart
  lib/src/service/spaces/space_data.freezed.dart
  lib/src/service/spaces/space_data.g.dart
  lib/src/service/spaces/space_expansion.dart
  lib/src/service/spaces/spaces_service.dart
  lib/twitter_api_v2.dart
Labels: service/Spaces

#174 feat: added `expansions` argument (#172)
  CHANGELOG.md
  lib/src/service/lists/list_data.dart
  lib/src/service/lists/list_data.freezed.dart
  lib/src/service/lists/list_data.g.dart
  lib/src/service/lists/list_expansion.dart
  lib/src/service/lists/lists_service.dart
  lib/src/service/media/media_data.dart
  lib/src/service/media/media_data.freezed.dart
  lib/src/service/media/media_data.g.dart
  lib/twitter_api_v2.dart
Labels: service/Lists

#178 feat: Added `Filtered Stream` endpoint (#4)
  CHANGELOG.md
  README.md
  example/example.dart
  lib/src/client/client_context.dart
  lib/src/service/base_service.dart
  lib/src/service/places/place_data.dart
  lib/src/service/places/place_data.freezed.dart
  lib/src/service/places/place_data.g.dart
  lib/src/service/tweets/filtering_rule_data.dart
  lib/src/service/tweets/filtering_rule_data.freezed.dart
  lib/src/service/tweets/filtering_rule_data.g.dart
  lib/src/service/tweets/filtering_rule_meta.dart
  lib/src/service/tweets/filtering_rule_meta.freezed.dart
  lib/src/service/tweets/filtering_rule_meta.g.dart
  lib/src/service/tweets/filtering_rule_summary.dart
  lib/src/service/tweets/filtering_rule_summary.freezed.dart
  lib/src/service/tweets/filtering_rule_summary.g.dart
  lib/src/service/tweets/tweet_entities.dart
  lib/src/service/tweets/tweet_entities.freezed.dart
  lib/src/service/tweets/tweet_entities.g.dart
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
  test/mocks/client_context_stubs.dart
  test/mocks/mock.mocks.dart
  test/src/service/tweets/data/connect_filtered_stream.json
  test/src/service/tweets/data/connect_volume_stream.json
  test/src/service/tweets/data/connect_volume_stream_with_error.json
  test/src/service/tweets/data/create_filtering_rules.json
  test/src/service/tweets/data/destroy_filtering_rules.json
  test/src/service/tweets/data/lookup_filtering_rules.json
  test/src/service/tweets/tweets_service_test.dart
Labels: service/Tweets, test, client

#189 refactor!: fixed types
  CHANGELOG.md
  lib/src/service/tweets/referenced_tweet.dart
  lib/src/service/tweets/referenced_tweet.freezed.dart
  lib/src/service/tweets/referenced_tweet.g.dart
  lib/src/service/tweets/referenced_tweet_data.dart
  lib/src/service/tweets/referenced_tweet_data.g.dart
  lib/src/service/tweets/tweet_data.dart
  lib/src/service/tweets/tweet_data.freezed.dart
  lib/src/service/tweets/tweet_data.g.dart
  lib/src/service/tweets/tweet_type.dart
  lib/twitter_api_v2.dart
Labels: service/Tweets

#191 refactor: fixed types and field
  CHANGELOG.md
  lib/src/service/media/media_data.dart
  lib/src/service/media/media_data.freezed.dart
  lib/src/service/media/media_data.g.dart
  lib/src/service/tweets/tweets_service.dart
  test/src/service/tweets/tweets_service_test.dart
Labels: service/Tweets, test

#194 fix: fixed for the issue (#193)
  lib/src/service/tweets/tweet_withheld.dart
Labels: service/Tweets

#196 docs: added matrix for endpoints
  README.md
Labels: do not merge yet
