Repository twitter-dart/twitter-api-v2, pull requests merged in 2022-07, with the labels that each got.

#330 feat: fixed for the issue (#185)
  CHANGELOG.md
  lib/src/service/common/includes.dart
  lib/src/service/common/includes.freezed.dart
  lib/src/service/common/includes.g.dart
  lib/src/service/spaces/space_expansion.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/spaces/topic_data.dart
  lib/src/service/spaces/topic_data.freezed.dart
  lib/src/service/spaces/topic_data.g.dart
  lib/src/service/spaces/topic_field.dart
  lib/twitter_api_v2.dart
  test/mocks/client_context_stubs.dart
  test/mocks/mock.mocks.dart
  test/src/service/spaces/space_expansion_test.dart
  test/src/service/spaces/topic_field_test.dart
  test/src/service/twitter_response_test.dart
Labels: service/Spaces, test

#332 docs: added german translation for readme (#213)
  i18n/README-DE.md
Labels: documentation, enhancement

#334 docs: Added `i18n/README-DE.md`
  .all-contributorsrc
Labels: documentation

#336 feat: fixed for the issue (#333)
  CHANGELOG.md
  lib/src/service/spaces/space_data.g.dart
  lib/src/service/spaces/space_state.dart
  lib/src/service/spaces/topic_data.freezed.dart
  lib/src/service/spaces/topic_data.g.dart
  test/src/service/spaces/space_state_test.dart
Labels: service/Spaces, test

#339 feat: fixed for the issue (#329)
  CHANGELOG.md
  lib/src/client/client.dart
  lib/src/client/client_context.dart
  lib/src/client/oauth1_client.dart
  lib/src/client/oauth2_client.dart
  test/src/service/spaces/space_expansion_test.dart
  test/src/service/users/users_service_test.dart
Labels: test, client

#340 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions

#341 feat: fixed for the issue (#331)
  .vscode/settings.json
  CHANGELOG.md
  README.md
  example/example.dart
  i18n/README-BN.md
  i18n/README-DE.md
  i18n/README-ES.md
  i18n/README-FR.md
  i18n/README-JA.md
  i18n/README-VI.md
  lib/src/auth/oauth_utils.dart
  lib/src/exception/rate_limit_exceeded_exception.dart
  lib/src/exception/twitter_exception.dart
  lib/src/service/base_service.dart
  lib/twitter_api_v2.dart
  test/src/service/compliance/compliance_service_test.dart
  test/src/service/lists/lists_service_test.dart
  test/src/service/spaces/spaces_service_test.dart
  test/src/service/tweets/data/rate_limit_exceeded_error.json
  test/src/service/tweets/tweets_service_test.dart
Labels: documentation, enhancement, test

#342 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions

#343 test: added unit tests
  test/src/auth/oauth_utils_test.dart
  test/src/service/lists/list_field_test.dart
  test/src/service/media/media_field_test.dart
  test/src/service/places/place_field_test.dart
  test/src/service/polls/poll_field_test.dart
  test/src/service/spaces/data/lookup_by_ids_with_topics.json
  test/src/service/spaces/spaces_service_test.dart
  test/src/service/spaces/topic_field_test.dart
  test/src/service/tweets/data/lookup_by_id_with_media.json
  test/src/service/tweets/data/lookup_by_id_with_places.json
  test/src/service/tweets/data/lookup_by_id_with_polls.json
  test/src/service/tweets/data/search_recent_with_various_fields.json
  test/src/service/tweets/tweet_field_test.dart
  test/src/service/tweets/tweets_service_test.dart
  test/src/service/users/data/lookup_by_names_with_various_fields.json
  test/src/service/users/user_field_test.dart
  test/src/service/users/users_service_test.dart
Labels: test

#344 test: added unit tests
  test/src/service/tweets/data/search_recent_with_various_fields.json
  test/src/service/tweets/tweets_service_test.dart
Labels: test

#345 docs: update co author
  i18n/README-ES.md
Labels: documentation

#349 test: add unit tests
  test/src/twitter_api_test.dart
Labels: test

#350 fix: fixed for the issue (#347)
  CHANGELOG.md
  lib/src/service/base_service.dart
  pubspec.yaml
  test/src/twitter_api_test.dart
Labels: enhancement, test, client

#351 docs: Update README-JA.md
  i18n/README-JA.md
Labels: documentation, enhancement

#353 feat: fixed for the issue (#352)
  CHANGELOG.md
  lib/src/twitter_api.dart
  test/src/twitter_api_test.dart
Labels: test

#355 All contributors/add eltociear
  .all-contributorsrc
  README.md
  i18n/README-BN.md
  i18n/README-DE.md
  i18n/README-ES.md
  i18n/README-FR.md
  i18n/README-JA.md
  i18n/README-VI.md
Labels: documentation

#357 feat: fixed for the issue (#348)
  CHANGELOG.md
  README.md
  example/example.dart
  lib/src/exception/unauthorized_exception.dart
  lib/src/service/base_service.dart
  lib/twitter_api_v2.dart
  test/src/service/compliance/compliance_service_test.dart
  test/src/service/lists/lists_service_test.dart
  test/src/service/spaces/spaces_service_test.dart
  test/src/service/tweets/tweets_service_test.dart
  test/src/twitter_api_test.dart
Labels: test

#356 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions

#358 docs: added dartdoc
  lib/src/client/oauth_tokens.dart
  lib/src/service/compliance/compliance_service.dart
  lib/src/service/lists/lists_service.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/users_service.dart
  lib/src/twitter_api.dart
Labels: service/Tweets, service/Users, service/Spaces, service/Lists, service/Compliance, client

#363 fix: fixed for the issue (#360)
  README.md
  example/example.dart
  lib/src/client/retry_policy.dart
  lib/src/config/retry_config.dart
  test/src/client/retry_policy_test.dart
Labels: test, client

#364 refactor: fixed for the issue (#360)
  README.md
  example/example.dart
  lib/src/config/retry_config.dart
  test/src/client/retry_policy_test.dart
Labels: test

#365 fix: fixed for the issue (#362
  README.md
  example/example.dart
  i18n/README-BN.md
  i18n/README-DE.md
  i18n/README-ES.md
  i18n/README-FR.md
  i18n/README-JA.md
  i18n/README-VI.md
  lib/src/client/client_context.dart
  lib/src/client/retry_context.dart
  lib/src/client/retry_policy.dart
  lib/src/client/stream_request.dart
  lib/src/config/retry_config.dart
  lib/src/service/base_service.dart
  lib/twitter_api_v2.dart
  test/mocks/mock.mocks.dart
  test/src/client/retry_policy_test.dart
Labels: test, client

#372 fix: fixed for the issue (#371)
  README.md
  example/example.dart
  lib/src/config/retry_config.dart
  test/src/client/retry_policy_test.dart
Labels: test

#373 docs: fixed sentences
  README.md
Labels: documentation

#374 refactor: fixed structure and added unit tests
  README.md
  lib/src/client/retry_policy.dart
  lib/src/client/retry_strategy.dart
  lib/src/config/retry_config.dart
  test/src/client/retry_policy_test.dart
  test/src/config/retry_config_test.dart
Labels: test, client

#376 docs: fixed changelog
  CHANGELOG.md
Labels: documentation

#384 feat: fixed for the issue (#381)
  CHANGELOG.md
  lib/src/service/base_service.dart
  lib/src/service/compliance/compliance_service.dart
  lib/src/service/lists/lists_service.dart
  lib/src/service/response_field.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/users_service.dart
  pubspec.yaml
  test/src/service/common_expectations.dart
  test/src/service/response_field_test.dart
  test/src/service/tweets/data/no_json.json
  test/src/service/tweets/tweets_service_test.dart
  test/src/service/users/data/no_json.json
  test/src/service/users/data/rate_limit_exceeded_error.json
  test/src/service/users/users_service_test.dart
Labels: service/Tweets, service/Users, service/Spaces, service/Lists, service/Compliance, test

#386 fix: fixed for the issue (#382)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
  test/src/service/tweets/tweets_service_test.dart
Labels: service/Tweets, test

#389 doc: fixed for the issue (#388)
  README.md
Labels: documentation, enhancement

#390 test: added unit tests
  test/src/service/lists/data/no_json.json
  test/src/service/lists/data/rate_limit_exceeded_error.json
  test/src/service/lists/lists_service_test.dart
  test/src/service/spaces/data/no_json.json
  test/src/service/spaces/data/rate_limit_exceeded_error.json
  test/src/service/spaces/spaces_service_test.dart
Labels: test

#391 Update README.md
  README.md
Labels: documentation, enhancement

#394 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions
