Repository twitter-dart/twitter-api-v2, pull requests merged in 2022-12, with the labels that each got.

#585 chore: export missing user models in library file
  lib/twitter_api_v2.dart
Labels: service/Users

#589 fix: Prepare v4.6.0
  .vscode/settings.json
  CHANGELOG.md
  README.md
  lib/src/service/geo/geo_service.dart
  test/src/service/geo/data/lookup_reversed_geocoded_locations.json
  test/src/service/geo/geo_service_test.dart
Labels: test

#593 fix: fixed for the issue (#592)
  CHANGELOG.md
  lib/src/service/base_service.dart
  pubspec.yaml
  test/src/service/tweets/tweets_service_test.dart
Labels: test

#602 fix: fixed for the issue (#601)
  CHANGELOG.md
  README.md
  example/example.dart
  lib/src/core/client/retry_policy.dart
  lib/src/core/client/retry_strategy.dart
  lib/src/core/config/retry_config.dart
  test/src/core/client/retry_policy_test.dart
  test/src/core/config/retry_config_test.dart
Labels: test

#603 fix: fixed for the issue (#596)
  CHANGELOG.md
  README.md
  lib/src/core/client/client_context.dart
  lib/src/core/client/client_resolver.dart
  lib/src/core/client/oauth2_client.dart
  lib/src/core/client/user_context.dart
  lib/src/service/compliance/compliance_service.dart
  lib/src/service/tweets/tweets_service.dart
  pubspec.yaml
  test/mocks/client_context_stubs.dart
  test/src/core/client/client_resolver_test.dart
  test/src/core/client/user_context_test.dart
  test/src/service/common_expectations.dart
  test/src/service/compliance/compliance_service_test.dart
  test/src/service/dms/direct_messages_service_test.dart
  test/src/service/lists/lists_service_test.dart
  test/src/service/spaces/spaces_service_test.dart
  test/src/service/tweets/tweets_service_test.dart
  test/src/service/users/users_service_test.dart
Labels: service/Tweets, service/Compliance, test

#605 feat: fixed for the issue (#604)
  CHANGELOG.md
  README.md
  lib/src/core/oauth_response.dart
  lib/src/core/oauth_response.freezed.dart
  lib/src/core/oauth_response.g.dart
  lib/src/core/scope.dart
  lib/src/core/util/oauth_utils.dart
  lib/twitter_api_v2.dart
  test/src/core/auth/oauth_utils_test.dart
  test/src/core/client/scope_test.dart
  test/src/core/client/user_context_test.dart
Labels: test
