Repository twitter-dart/twitter-api-v2, pull requests merged in 2022-06, with the labels that each got.

#203 fix!: fixed for the issue (#202)
  CHANGELOG.md
  lib/src/service/users/user_data.dart
  lib/src/service/users/user_data.freezed.dart
  lib/src/service/users/user_data.g.dart
  pubspec.yaml
Labels: service/Users

#206 feat: added `space.fields` parameter (#184)
  .vscode/settings.json
  lib/src/service/spaces/space_data.dart
  lib/src/service/spaces/space_data.freezed.dart
  lib/src/service/spaces/space_data.g.dart
  lib/src/service/spaces/space_field.dart
  lib/src/service/spaces/spaces_service.dart
  lib/twitter_api_v2.dart
Labels: service/Spaces

#209 feat: Support `poll.fields`
  CHANGELOG.md
  lib/src/service/polls/poll_data.dart
  lib/src/service/polls/poll_data.freezed.dart
  lib/src/service/polls/poll_data.g.dart
  lib/src/service/polls/poll_field.dart
  lib/src/service/polls/poll_voting_status.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
  pubspec.yaml
  test/src/service/polls/poll_field_test.dart
Labels: service/Tweets, service/Spaces

#211 feat!: Support `place.fields`
  CHANGELOG.md
  lib/src/service/includes.dart
  lib/src/service/includes.freezed.dart
  lib/src/service/includes.g.dart
  lib/src/service/places/place_data.dart
  lib/src/service/places/place_data.freezed.dart
  lib/src/service/places/place_data.g.dart
  lib/src/service/places/place_field.dart
  lib/src/service/places/place_geo.dart
  lib/src/service/places/place_geo.freezed.dart
  lib/src/service/places/place_geo.g.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/geo.dart
  lib/src/service/tweets/geo.freezed.dart
  lib/src/service/tweets/geo.g.dart
  lib/src/service/tweets/geo_coordinates.dart
  lib/src/service/tweets/geo_coordinates.freezed.dart
  lib/src/service/tweets/geo_coordinates.g.dart
  lib/src/service/tweets/tweet_data.dart
  lib/src/service/tweets/tweet_data.freezed.dart
  lib/src/service/tweets/tweet_data.g.dart
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
  test/src/service/places/place_field_test.dart
  test/src/service/twitter_response_test.dart
Labels: service/Tweets, service/Spaces

#214 refactor: fixed for the issue (#210)
  .vscode/settings.json
  lib/src/service/compliance/compliance_data.dart
  lib/src/service/compliance/compliance_data.freezed.dart
  lib/src/service/includes.dart
  lib/src/service/includes.freezed.dart
  lib/src/service/includes.g.dart
  lib/src/service/lists/list_data.dart
  lib/src/service/lists/list_data.freezed.dart
  lib/src/service/lists/list_meta.dart
  lib/src/service/lists/list_meta.freezed.dart
  lib/src/service/places/place_data.dart
  lib/src/service/places/place_data.freezed.dart
  lib/src/service/places/place_data.g.dart
  lib/src/service/polls/poll_data.dart
  lib/src/service/spaces/space_data.dart
  lib/src/service/spaces/space_data.freezed.dart
  lib/src/service/spaces/space_meta.dart
  lib/src/service/spaces/space_meta.freezed.dart
  lib/src/service/tweets/geo.dart
  lib/src/service/tweets/public_tweet_metrics.dart
  lib/src/service/tweets/public_tweet_metrics.freezed.dart
  lib/src/service/tweets/tweet_annotation.dart
  lib/src/service/tweets/tweet_annotation.freezed.dart
  lib/src/service/tweets/tweet_attachments.dart
  lib/src/service/tweets/tweet_attachments.freezed.dart
  lib/src/service/tweets/tweet_count_meta.dart
  lib/src/service/tweets/tweet_count_meta.freezed.dart
  lib/src/service/tweets/tweet_data.dart
  lib/src/service/tweets/tweet_data.freezed.dart
  lib/src/service/tweets/tweet_meta.dart
  lib/src/service/tweets/tweet_meta.freezed.dart
  lib/src/service/tweets/tweet_withheld.dart
  lib/src/service/tweets/tweet_withheld.freezed.dart
  lib/src/service/url.dart
  lib/src/service/url.freezed.dart
  lib/src/service/users/public_user_metrics.dart
  lib/src/service/users/public_user_metrics.freezed.dart
  lib/src/service/users/user_data.dart
  lib/src/service/users/user_data.freezed.dart
  lib/src/service/users/user_meta.dart
  lib/src/service/users/user_meta.freezed.dart
  lib/src/service/users/user_withheld.dart
  lib/src/service/users/user_withheld.freezed.dart
  test/src/service/twitter_response_test.dart
Labels: service/Tweets, service/Users, service/Spaces, service/Lists, service/Compliance, test

#224 refactor: fixed for the issue (#212)
  lib/src/service/base_service.dart
  lib/src/service/expansion.dart
  lib/src/service/lists/list_expansion.dart
  lib/src/service/lists/lists_service.dart
  lib/src/service/places/place_field.dart
  lib/src/service/polls/poll_field.dart
  lib/src/service/serializable.dart
  lib/src/service/spaces/space_expansion.dart
  lib/src/service/spaces/space_field.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweet_expansion.dart
  lib/src/service/tweets/tweet_field.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/user_expansion.dart
  lib/src/service/users/user_field.dart
  lib/src/service/users/users_service.dart
Labels: service/Tweets, service/Users, service/Spaces, service/Lists

#225 refactor!: fixed for the issue (#207)
  CHANGELOG.md
  lib/src/service/spaces/space_data.dart
  lib/src/service/spaces/space_data.freezed.dart
  lib/src/service/spaces/space_data.g.dart
  lib/src/service/spaces/space_language.dart
  lib/src/service/tweets/tweet_data.dart
  lib/src/service/tweets/tweet_data.freezed.dart
  lib/src/service/tweets/tweet_data.g.dart
  lib/src/service/tweets/tweet_language.dart
  lib/twitter_api_v2.dart
  test/src/service/media/media_type_test.dart
  test/src/service/spaces/space_language_test.dart
  test/src/service/tweets/tweet_language_test.dart
Labels: service/Tweets, service/Spaces, test

#227 refactor!: fixed for the issue (#226)
  CHANGELOG.md
  README.md
  example/example.dart
  lib/src/service/base_service.dart
  lib/src/service/common/includes.dart
  lib/src/service/common/includes.freezed.dart
  lib/src/service/common/includes.g.dart
  lib/src/service/common/mention.dart
  lib/src/service/common/mention.freezed.dart
  lib/src/service/common/mention.g.dart
  lib/src/service/common/serializable.dart
  lib/src/service/common/tag.dart
  lib/src/service/common/tag.freezed.dart
  lib/src/service/common/tag.g.dart
  lib/src/service/common/url.dart
  lib/src/service/common/url.freezed.dart
  lib/src/service/common/url.g.dart
  lib/src/service/filtered_stream_response.dart
  lib/src/service/lists/list_expansion.dart
  lib/src/service/places/place_field.dart
  lib/src/service/polls/poll_field.dart
  lib/src/service/spaces/space_expansion.dart
  lib/src/service/spaces/space_field.dart
  lib/src/service/tweets/matching_rule.dart
  lib/src/service/tweets/matching_rule.freezed.dart
  lib/src/service/tweets/matching_rule.g.dart
  lib/src/service/tweets/tweet_entities.dart
  lib/src/service/tweets/tweet_expansion.dart
  lib/src/service/tweets/tweet_field.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/twitter_response.dart
  lib/src/service/users/user_description_entity.dart
  lib/src/service/users/user_expansion.dart
  lib/src/service/users/user_field.dart
  lib/src/service/users/user_url_entity.dart
  lib/twitter_api_v2.dart
  pubspec.yaml
  test/src/service/filtered_stream_response_test.dart
  test/src/service/tweets/data/connect_filtered_stream.json
  test/src/service/tweets/tweets_service_test.dart
  test/src/service/twitter_response_test.dart
Labels: service/Tweets, service/Users, service/Spaces, service/Lists, test

#233 docs: added readme for Vietnamese
  i18n/README-VI.md
Labels: documentation, enhancement

#238 docs: fixed typo
  i18n/README-JA.md
Labels: do not merge yet

#242 adding to README-FR by Oumar Fall
  i18n/README-FR.md
Labels: documentation, enhancement

#250 docs: fixed for the issue (#105)
  STYLEGUIDE.md
Labels: documentation, enhancement

#257 Delete response_to_approved_pr.yml
  .github/workflows/response_to_approved_pr.yml
Labels: do not merge yet

#254 feat: Support `media.fields`
  lib/src/service/media/media_data.dart
  lib/src/service/media/media_data.freezed.dart
  lib/src/service/media/media_data.g.dart
  lib/src/service/media/media_field.dart
  lib/src/service/media/organic_media_metrics.dart
  lib/src/service/media/organic_media_metrics.freezed.dart
  lib/src/service/media/organic_media_metrics.g.dart
  lib/src/service/media/private_media_metrics.dart
  lib/src/service/media/private_media_metrics.freezed.dart
  lib/src/service/media/private_media_metrics.g.dart
  lib/src/service/media/promoted_media_metrics.dart
  lib/src/service/media/promoted_media_metrics.freezed.dart
  lib/src/service/media/promoted_media_metrics.g.dart
  lib/src/service/media/public_media_metrics.dart
  lib/src/service/media/public_media_metrics.freezed.dart
  lib/src/service/media/public_media_metrics.g.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
  test/src/service/media/media_field_test.dart
Labels: enhancement, service/Tweets, service/Spaces

#255 feat: Support `list.fields`
  lib/src/service/lists/list_data.dart
  lib/src/service/lists/list_data.freezed.dart
  lib/src/service/lists/list_data.g.dart
  lib/src/service/lists/list_field.dart
  lib/src/service/lists/lists_service.dart
  lib/twitter_api_v2.dart
  test/src/service/lists/list_field_test.dart
Labels: enhancement, service/Lists

#267 docs: added dartdocs (#263)
  CHANGELOG.md
  lib/src/service/compliance/compliance_service.dart
  lib/src/service/lists/lists_service.dart
  lib/src/service/spaces/spaces_service.dart
  lib/src/service/tweets/tweets_service.dart
  lib/src/service/users/users_service.dart
  pubspec.yaml
Labels: documentation, service/Tweets, service/Users, service/Spaces, service/Lists, service/Compliance

#270 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions

#271 feat: added metrics field for `TweetField` (#268)
  CHANGELOG.md
  lib/src/service/tweets/organic_tweet_metrics.dart
  lib/src/service/tweets/organic_tweet_metrics.freezed.dart
  lib/src/service/tweets/organic_tweet_metrics.g.dart
  lib/src/service/tweets/private_tweet_metrics.dart
  lib/src/service/tweets/private_tweet_metrics.freezed.dart
  lib/src/service/tweets/private_tweet_metrics.g.dart
  lib/src/service/tweets/promoted_tweet_metrics.dart
  lib/src/service/tweets/promoted_tweet_metrics.freezed.dart
  lib/src/service/tweets/promoted_tweet_metrics.g.dart
  lib/src/service/tweets/tweet_data.dart
  lib/src/service/tweets/tweet_data.freezed.dart
  lib/src/service/tweets/tweet_data.g.dart
  lib/src/service/tweets/tweet_field.dart
  lib/twitter_api_v2.dart
  pubspec.yaml
  test/src/service/filtered_stream_response_test.dart
Labels: service/Tweets, test

#273 fix: fixed for the issue (#272)
  CHANGELOG.md
  build.yaml
  lib/src/service/common/includes.g.dart
  lib/src/service/media/media_data.g.dart
  lib/src/service/polls/poll_data.g.dart
  lib/src/service/tweets/filtering_rule_meta.g.dart
  lib/src/service/tweets/geo.g.dart
  lib/src/service/tweets/tweet_context_annotation_group.g.dart
  lib/src/service/tweets/tweet_data.g.dart
  lib/src/service/tweets/tweet_entities.g.dart
  lib/src/service/users/user_data.g.dart
  lib/src/service/users/user_description_entity.g.dart
  lib/src/service/users/user_entities.g.dart
  lib/src/service/users/user_url_entity.g.dart
Labels: service/Tweets, service/Users

#275 feat: added `toJson` to `TwitterResponse` (#274)
  CHANGELOG.md
  lib/src/service/twitter_response.dart
  test/src/service/twitter_response_test.dart
Labels: test

#277 [Scheduled] `dart pub upgrade --null-safety`
  pubspec.yaml
Labels: GitHub Actions

#287 feat: added `sortOrder` parameters (#284)
  CHANGELOG.md
  lib/src/service/tweets/sort_order.dart
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
  test/src/service/tweets/sort_order_test.dart
Labels: enhancement, service/Tweets, test

#289 docs: fixed for the issue (#278)
  README.md
  example/example.dart
Labels: documentation, enhancement

#291 feat: Support `variants` field for `MediaData`
  lib/src/service/media/media_data.dart
  lib/src/service/media/media_data.freezed.dart
  lib/src/service/media/media_data.g.dart
  lib/src/service/media/media_field.dart
  lib/src/service/media/variant.dart
  lib/src/service/media/variant.freezed.dart
  lib/src/service/media/variant.g.dart
  test/src/service/media/media_field_test.dart
Labels: enhancement

#290 feat: Support `start_time` and `end_time` parameters
  lib/src/service/tweets/tweets_service.dart
Labels: enhancement, service/Tweets

#294 fix: fixed for the issue (#288)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
Labels: enhancement, service/Tweets

#295 refactor: fixed for the issue (#293)
  lib/src/service/base_service.dart
  lib/src/service/tweets/tweets_service.dart
  test/src/service/tweets/tweets_service_test.dart
Labels: enhancement, service/Tweets, test

#297 refactor: fixed for the issue (#292)
  CHANGELOG.md
  lib/src/service/media/media_data.freezed.dart
  lib/src/service/media/variant.dart
  lib/src/service/media/variant.freezed.dart
  lib/src/service/media/variant.g.dart
  lib/src/service/places/place_data.g.dart
Labels: enhancement

#298 feat: added `sinceId` parameter (#285)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
Labels: enhancement, service/Tweets

#299 feat: added `excludeReplyUserIds` parameter (#283)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
Labels: enhancement, service/Tweets

#300 feat: added `untilTweetId` (#286)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
Labels: enhancement, service/Tweets

#301 feat: added `directMessageDeepLink` (#279)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
Labels: service/Tweets

#302 feat: added `placeId` parameter (#280)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
Labels: enhancement, service/Tweets

#303 feat: fixed for the issue (#282)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
Labels: enhancement, service/Tweets

#313 fix!: fixed for the issue (#304)
  CHANGELOG.md
  lib/src/service/tweets/tweet_geo_param.dart
  lib/src/service/tweets/tweet_media_param.dart
  lib/src/service/tweets/tweet_poll_param.dart
  lib/src/service/tweets/tweet_reply_param.dart
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
  test/src/service/tweets/sort_order_test.dart
  test/src/service/tweets/tweets_service_test.dart
Labels: service/Tweets, test

#314 fix!: fixed for the issue (#312)
  CHANGELOG.md
  README.md
  example/example.dart
  i18n/README-BN.md
  i18n/README-FR.md
  i18n/README-JA.md
  i18n/README-VI.md
  lib/src/service/tweets/filtering_rule_data.dart
  lib/src/service/tweets/filtering_rule_data.freezed.dart
  lib/src/service/tweets/filtering_rule_data.g.dart
  lib/src/service/tweets/filtering_rule_param.dart
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
  test/src/service/tweets/tweets_service_test.dart
Labels: service/Tweets, test

#315 feat: fixed for the issue (#311)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
  test/src/service/tweets/tweets_service_test.dart
Labels: service/Tweets, test

#316 feat: fixed for the issue (#310)
  CHANGELOG.md
  lib/src/service/tweets/tweet_count_granularity.dart
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
  test/src/service/tweets/tweet_count_granularity_test.dart
Labels: service/Tweets, test

#317 feat: fixed for the issue (#309)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
Labels: service/Tweets

#318 308 support exclude parameter for lookuptweets
  CHANGELOG.md
  lib/src/service/base_service.dart
  lib/src/service/tweets/tweet_exclude_type.dart
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
  test/src/service/tweets/tweet_exclude_type.dart
Labels: service/Tweets, test

#319 feat: fixed for the issue (#307)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
Labels: service/Tweets

#320 feat: fixed for the issue (#305)
  CHANGELOG.md
  lib/src/service/tweets/tweets_service.dart
Labels: service/Tweets

#321 feat: fixed for the issue (#306)
  CHANGELOG.md
  lib/src/service/tweets/exclude_tweet_type.dart
  lib/src/service/tweets/tweets_service.dart
  lib/twitter_api_v2.dart
  test/src/service/tweets/exclude_tweet_type_test.dart
Labels: service/Tweets, test

#323 fix!: fixed for the issue (#322)
  CHANGELOG.md
  lib/src/service/tweets/tweet_poll_param.dart
  lib/src/service/tweets/tweets_service.dart
  pubspec.yaml
  test/src/service/tweets/tweets_service_test.dart
Labels: service/Tweets, test

#326 feat: fixed for the issue (#324)
  CHANGELOG.md
  lib/src/service/spaces/spaces_service.dart
  pubspec.yaml
Labels: enhancement, service/Spaces
